@model CourseUserExaminationViewModel

@await Html.PartialAsync("~/Views/Course/_CourseDetails.cshtml", Model.CourseDetails)

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Student</th>
            <th>Grade</th>
            <th>Exam submission</th>
            <th>Set grade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.UserName</td>
                <td>@(student?.StudentGrade.ToString() ?? "No grade")</td>
                <td>
                    @if (student.HasExamSubmission)
                    {
                        <a asp-controller="Trainer" asp-action="DownloadExamSubmission" asp-route-courseId="@Model.CourseDetails.Id" asp-route-studentId="@student.Id">Download</a>
                    }
                    else
                    {
                        @: No submission
                    }
                </td>

                <td>
                    <form method="post" asp-controller="Trainer" asp-action="SetGrade">
                        <input hidden name="courseId" value="@Model.CourseDetails.Id" />
                        <input hidden name="studentId" value="@student.Id" />
                        <select name="grade" asp-items="@Html.GetEnumSelectList<StudentGrade>()">Grade</select>
                        <button type="submit" class="btn btn-success">Save grade</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
