@model CourseDetailsWithUserAuthenticationViewModel

@await Html.PartialAsync("~/Views/Course/_CourseDetails.cshtml", Model.CourseDetails)

<div>
    @if (Model.IsUserSingIn)
    {
        <form method="post" asp-controller="Course" asp-action="SingOutUser">
            <div class="form-group">
                <input type="hidden" name="CourseId" value="@Model.CourseDetails.Id" />
                <input type="hidden" name="UserId" value="@Model.LoggedUserid" />
            </div>
            <button type="submit" class="btn btn-danger">Sing out</button>
        </form>

        <form method="post" asp-controller="Course" asp-action="SubmitExam" enctype='multipart/form-data'>
            <div class="form-group">
                <input type="hidden" name="courseId" value="@Model.CourseDetails.Id" />
                <input type="hidden" name="studentId" value="@Model.LoggedUserid" />
            </div>
            <div>
                Upload your exam (.zip only)
                <input type="file" name="examSubmission" />
            </div>
            <button type="submit" class="btn btn-primary">Submit file</button>
        </form>
    }
    else
    {
        <form method="post" asp-controller="Course" asp-action="SingInUser">
            <div class="form-group">
                <input type="hidden" name="CourseId" value="@Model.CourseDetails.Id" />
                <input type="hidden" name="UserId" value="@Model.LoggedUserid" />
            </div>
            <button type="submit" class="btn btn-success">Sing in</button>
        </form>
    }
</div>

